body {
  margin: 0;
  padding: 0;
}

/* Style the label to display next to the inputs */
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

img {
  width: auto;
  height: 300px;
}

/* Style the container */
.container {
  border-radius: 5px;
  padding: 20px;
  display: table-cell;
  vertical-align: middle;
  width: 100vw;
  height: 100vh;
}

/* Floating column for labels: 25% width */
.col-20 {
  float: left;
  width: 20%;
  margin-top: 6px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-40 {
  float: left;
  width: 40%;
  margin-top: 6px;
}
/* Floating column for inputs: 75% width */
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
} 

.hidden {
  display: none;
}

.align-center {
  text-align: center;
}
