.veu-pane * {
  /* Text Sizes */
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1rem;
  font-weight: 300;
}
/* Theme Coloring */
.veu-pane.grey {
  color: #44476A;
  background-color: #E6E7EE;
}
.veu-pane.sepia {
  background-color: #EDDAB2;
  color: #834E56;
}
.veu-pane.cloud {
  background-color: #E6F1F9;
  color: #445862;
}
.veu-pane.dark {
  background-color: #60688A;
  color: #C9CDE4;
}